<h1>AlpineLab toolbox</h1>

<ul>
  <% @dependencies.find_each do |dependency| %>
    <li>
      <%= link_to(dependency.name, dependency) %>
      <ul>
        <% dependency.comments.published.find_each do |comment| %>
          <%= comment.body %>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
